.profile__button-edit {
  background-color:rgba(0, 0, 0, 0);
  grid-area: buttonedit;
  width: 24px;
  height: 24px;
  padding: 0;
  margin: 0;
  border: 0;
  cursor: pointer;
  background-image: url(../../../images/editButton.svg);
  background-repeat: no-repeat;
}

.profile__button-edit:hover {
  opacity: 0.6;
}

@media screen and (max-width: 580px) {
  .profile__button-edit{
    width: 18px;
    height: 18px;
    background-size: contain;
  }
}
