.sign__register {
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 358px;
  justify-content: center;
  text-decoration: none;
  margin: 0;
}