.popup__save {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  border: 0;
  background: black;
  border-radius: 2px;
  padding: 14px 131.5px;
  width: 358px;
  margin: 18px auto 37px;
  cursor: pointer;
}

.popup__save:hover {
  background: rgba(0, 0, 0, .8);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

@media screen and (max-width: 580px) {
  .popup__save {
    font-size: 14px;
    line-height: 17px;
    padding-right: 82px;
    padding-left: 82px;
    margin-top: 15px;
    margin-bottom: 25px;
    width: 238px;
  }
}
